@use "@styles/_mixins" as *;
@use "@styles/_variables" as *;
@use "@styles/_functions" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 80px;
  color: color(black);
}

.title {
  @include h3-desktop();
}

.text {
  @include p2-desktop();
}

@media (max-width: $laptop) {
  .container {
    gap: 35px;
    margin-bottom: 60px;
  }
  
  .title {
    @include h2-38-laptop();
  }
  
  .text {
    @include p2-laptop();
  }

}

@media (max-width: $mobile) {
  .container {
    gap: 25px;
    margin-bottom: 50px;
  }
  
  .title {
    @include h2-20-mobile();
  }
  
  .text {
    @include p1-mobile();
  }
}

@media (max-width: $mobileS) {
  .container {
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .title {
    @include h2-mobileS();
  }
  
  .text {
    @include p2-mobile();
  } 
}