@use "@styles/_mixins" as *;
@use "@styles/_variables" as *;
@use "@styles/_functions" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.title {
  @include h1-tablet();
}

.li {
  @include p1-laptop();
  line-height: 125%;
}

@media (max-width: $laptop) {
  .title {
    @include h1-30-tablet();
  }
  .li {
    @include p4-desktop();
    line-height: 125%;
  }
}

@media (max-width: $mobile) {
  .wrapper {
    gap: 30px;
  }

  .title {
    @include h1-mobileS();
  }
  .li {
    @include p1-15-mobile();
    line-height: 125%;
  }
}

@media (max-width: $mobileS) {
  .wrapper {
    gap: 15px;
  }

  .title {
    @include h2-mobileS();
  }
  .li {
    @include p3-mobile();
    line-height: 125%;
  }
}