.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2em;
  height: 2em;

  .spinnerSvg {
    animation: rotate 1.4s linear infinite;

    .spinnerCircle {
      stroke-dasharray: 80, 200;
      stroke-dashoffset: 0;
      animation: dash 1.4s ease-in-out infinite;
      stroke-linecap: round;
    }
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -15;
  }
  100% {
    stroke-dasharray: 80, 200;
    stroke-dashoffset: -125;
  }
}