@use "@styles/_mixins" as *;
@use "@styles/_variables" as *;
@use "@styles/_functions" as *;

@media (max-width: $mobileS) {
  .container {
    padding: 10px 10px 20px 10px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .title {
    @include h2-mobileS();
    color: color(dark-black);
  }

  .link {
    color: color(dark-black);
    @include p2-mobile();
  }

  .arrow {
    width: 14px;
    height: 9px;
    color: color(dark-black);
    transform: rotate(180deg);
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: color(brand);
  }

  .info {
    color: color(text-gray);
    @include p2-mobileS();
    span {
      padding-left: 8px;
    }
  }
}