@use "@assets/styles/_mixins" as *;
@use "@assets/styles/_variables" as *;
@use "@assets/styles/_functions" as *;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 40px 80px;
  gap: 80px;
}

.banner {
  width: 100%;
}

.infoCards {
  display: flex;
  width: 100%;
  max-width: 1530px;
  margin: 0 auto;
  gap: 30px;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.productsTitle {
  @include h3-desktop();
}

.productsCards {
  display: flex;
  gap: 40px;
}

@media (max-width: $laptop) {
  .container {
    padding: 40px 60px;
    gap: 60px;
  }
  
  .productsCards {
    gap: 30px;
  }
}

@media (max-width: 1000px) {
  .productsCards {
    max-width: 688px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media (max-width: $mobile) {
  .container {
    padding: 20px 40px;
    gap: 50px;
  }

  .infoCards {
    max-width: 590px;
    gap: 10px;
  }

  .products {
    gap: 25px;
  }

  .productsCards {
    gap: 20px;
  }

  .productsTitle {
    @include h2-20-mobile();
  }
}

@media (max-width: 600px) {
  .infoCards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media (max-width: $mobileS) {
  .container {
    padding: 10px 10px 20px 10px;
    gap: 20px;
  }

  .infoCards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .products {
    gap: 20px;
  }

  .productsCards {
    gap: 10px;
  }

  .productsTitle {
    @include h2-mobileS();
  }
}