@use "@assets/styles/_mixins" as *;
@use "@assets/styles/_variables" as *;
@use "@assets/styles/_functions" as *;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 40px 80px;
}

.banner {
  width: 100%;
}

@media (max-width: $laptop) {
  .container {
    padding: 40px 60px;
  }
}

@media (max-width: $mobile) {
  .container {
    padding: 20px 40px;
  }
}

@media (max-width: $mobileS) {
  .container {
    padding: 10px 10px 20px 10px;
  }
}