@use "@styles/_mixins" as *;
@use "@styles/_variables" as *;
@use "@styles/_functions" as *;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 40px 80px 80px;
  color: color(dark-black);
}

.title {
  @include h1-30-tablet();
  margin-bottom: 70px;
}

.policyWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media (max-width: $laptop) {
  .container {
    padding: 40px 60px;
  }

  .title {
    @include h1-40-laptop();
  }
}

@media (max-width: $mobile) {
  .container {
    padding: 20px 40px;
  }

  .title {
    @include h1-mobile();
  }

  .policyWrapper {
    gap: 35px;
  }
}

@media (max-width: 420px) {
  .title {
    @include h1-mobileS();
  }
}

@media (max-width: $mobileS) {
  .container {
    padding: 10px 10px 20px 10px;
  }

  .title {
    @include h3-mobileS();
    margin-bottom: 20px;
  }

  .policyWrapper {
    gap: 15px;
  }
}