@use "@assets/styles/_functions" as *;

@mixin h1-desktop {
  font:
    600 font-size-desktop(h1) "Montserrat",
    sans-serif;
  line-height: 100%;
}

@mixin p4-desktop {
  font:
    400 font-size-desktop(p4) "Inter",
    sans-serif;
  line-height: 100%;
}

@mixin h1-laptop {
  font:
    600 font-size-laptop(h1) "Montserrat",
    sans-serif;
  line-height: 100%;
}

@mixin p3-laptop {
  font:
    400 font-size-laptop(p3) "Inter",
    sans-serif;
  line-height: 100%;
}

@mixin p4-laptop {
  font:
    400 font-size-laptop(p4) "Inter",
    sans-serif;
  line-height: 100%;
}

@mixin p5-laptop {
  font:
    400 font-size-laptop(p5) "Inter",
    sans-serif;
  line-height: 100%;
}

@mixin h1-mobile {
  font:
    600 font-size-mobile(h1) "Montserrat",
    sans-serif;
  line-height: 100%;
}

@mixin p3-mobile {
  font:
    400 font-size-mobile(p3) "Inter",
    sans-serif;
  line-height: 100%;
}

@mixin p3-mobile-lato {
  font:
    400 font-size-mobile(p3) "Lato",
    sans-serif;
  line-height: 100%;
}