// colors
$colors: (
  white: #ffffff,
  black: #232222,
  brand: #DE3B38
);


$font-sizes-desktop: (
  h1: 48px,
  p1: 32px,
  p2: 30px,
  p3: 26px,
  p4: 24px,
  p5: 22px,
);

$font-sizes-tablet: (
  h1: 42px,
  p1: 28px,
  p2: 26px,
  p3: 20px,
  p4: 13px,
);

$font-sizes-mobile: (
  h1: 24px,
  p1: 16px,
  p2: 14px,
  p3: 12px,
);

// breakpoints
$mobileS: 375px;
$mobile: 768px;
$laptop: 1440px;