@use "@assets/styles/_mixins" as *;
@use "@assets/styles/_variables" as *;
@use "@assets/styles/_functions" as *;

.wrapper {
  position: relative;
  display: flex;
  height: 100%;
  width: 251px;
}

.trigger {
  display: flex;
  align-items: center;
  gap: 10px;
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;
  align-items: center;
  cursor: pointer;
  padding: 20px 25px;
  color: color(black);
}

.flag {
  width: 36px;
  height: 36px;
}

.label {
  @include p4-desktop();
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: color(white);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px 25px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 25px;
}

.option {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: color(black);

  &:hover {
    color: color(brand);
  }
}

@media (max-width: $laptop) {
  .wrapper {
    width: 183px;
  }

  .dropdown {
    gap: 12px;
  }

  .label {
    @include p3-laptop();
  }
  .flag {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: $mobile) {
  .wrapper {
    width: 128px;
  }

  .trigger {
    gap: 8px;
    padding: 10px 15px;
  }

  .dropdown {
    gap: 5px;
    padding: 10px 15px;
  }

  .label {
    @include p5-laptop();
  }
  .flag {
    width: 22px;
  }
}

@media (max-width: $mobileS) {
  .wrapper {
    width: 73px;
  }

  .trigger {
    gap: 8px;
    padding: 0 10px;
  }

  .dropdown {
    padding: 10px;
    gap: 10px;
  }

  .label {
    @include p3-mobile();
  }
  .flag {
    width: 14px;
    height: 14px;
  }
}
